services:
  streak-stats:
    image: qcdev/github-readme-streak-stats:latest
    environment:
      - TOKEN=${TOKEN}
    network_mode: "host"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
